{% extends "base.html" %}

{% load static %}

{% block contenidos %}


<body>

  <div class="jumbotron">
    <div class="row justify-content-between">
      <div class="col-4">
        <h1 class="display-4">Ficha Medica Empleado </h1>
      </div>
      <img src="{% static 'app1/img/hospital.jpg'%}" alt="Girl in a jacket" width="200" height="200">
      <img src="{% static 'app1/img/efermera.jpg'%}" alt="Girl in a jacket" width="200" height="200">
      <div class="col-4">
        <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/santiago-2114"><img
            src="https://w.bookcdn.com/weather/picture/1_2114_1_4_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=60694"
            alt="booked.net" /></a><!-- weather widget end -->
      </div>
    </div>
    <p class="lead"> Valida datos del empleado</p>
    <script>
      var f = new Date();
      document.write(f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear());
    </script>
    <div class="text-center">
      <hr class="my-4">
      <p>Cargo</p>
      <input type="Cargo">
      <p>Nombres</p>
      <input type="Nombres">
      <p>Apellidos</p>
      <input type="Apellidos">

    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="{% url 'app1:inicio' %}" role="button">Validar</a>
    </div>


  </div>

</body>

{% endblock %}