{% extends "base.html" %}

{% load static %}

{% block contenidos %}

<body>
  <!-- Bienvenidos-->
  <div  class="jumbotron bg-light" >
    <h1 class="display-4">¡Bienvenido a InterSalud!</h1>
    <p class="lead">InterSalud disponibiliza la informacion de sus usuarios al instante. Registrate junto con tu
      información medica, o inicia sesion si ya estas registrado</p>
    <hr class="my-4">
    <p>Selecciona una opción:</p>
    <p class="lead">
      <a class="btn btn-secondary btn-lg" href="{% url 'form:crear_pacientes' %}" role="button">Crear ficha paciente</a>
      {% if user.is_authenticated %}
      <p><a class="btn btn-primary btn-lg" href="{% url 'logout' %}?next={% url 'app1:fichaMedica' %}">
        Ficha Medica</a></p>
      <p><br><b>Username:</b> {{ user.username }}<br><b>Email:</b> {{ user.email }}<br><b>Rol en la aplicación:</b> {{ user.perfil.rol }}</p><br>
      <p><a class="btn btn-danger btn-lg" href="{% url 'logout' %}?next={% url 'app1:inicio' %}">
        Cerrar Sesion</a></p>
      {% else %}
      <a class="btn btn-secondary btn-lg" href="{% url 'login' %}?next={{ request.path }}">
        Iniciar sesión</a> 
      {% endif %}
    </p>
  </div>

  <!-- Sección Noticias-->
  <div class="container">
    <div class="row">

      
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'app1/img/salud1.jpg'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dia internacional del donante</h5>
            <p class="card-text">El 9 de noviembre es el dia internacional del donante voluntario, enterate por que es
              importante donar</p>
            <a href="https://www.eltribuno.com/jujuy/nota/2020-11-9-12-53-0-dia-nacional-del-donante-voluntario-de-sangre"
              class="btn btn-info">ir a la noticia</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">

          <img class="card-img-top" src="{% static 'app1/img/salud3.jpg'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Una nueva plataforma para la salud</h5>
            <p class="card-text">Plataforma web acerca la salud digital a pacientes crónicos y personas en riesgo social
            </p>
            <a href="https://www.latercera.com/que-pasa/noticia/plataforma-web-acerca-la-salud-digital-a-pacientes-cronicos-y-personas-en-riesgo-social/CP7VXPWJGFDFDM35AKTK47JWSQ/"
              class="btn btn-info">ir a la noticia</a>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card" style="width: 18rem;">

          <img class="card-img-top" src="{% static 'app1/img/virus.jpg'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Nuevas definiciones en la RAE</h5>
            <p class="card-text">La Real academia española ha incluido nuevos conceptos relacionados con la pandemia que
              azota al mundo</p>
            <a href="https://www.diarioarea.com/2020/11/24/covid-coronavirus-o-desconfinamiento-ya-estan-en-la-rae/"
              class="btn btn-info">ir a la noticia</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () { alert('Bienvenido a esta pagina'); }
  </script>

</body>

{% endblock %}