{% extends "base.html" %}

{% load static %}

{% block contenidos %}


<body>

  <div class="center-text">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5>Registro de usuarios</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ingresar nombre
          <input type="text" name="nombredelacaja">
        </li>
        <li class="list-group-item">Ingresa apellido
          <input type="text" name="nombredelacaja">
        </li>
        <li class="list-group-item">Ingresar RUN
          <input type="text" name="nombredelacaja">
        </li>
        <li class="list-group-item">Ingrese mail
          <input type="text" name="nombredelacaja">
        </li>
        <a class="btn btn-primary btn-lg" onclick="registrado()" href="{% url 'app1:login' %}"
          role="button">Registrar</a>

      </ul>
    </div>
  </div>

  <script>
    function registrado() {
      alert("El usuario ha sido registrado satisfactoriamente");
    }
  </script>

</body>

{% endblock %}