{% extends "base.html" %}

{% load static %}

{% block contenidos %}
<body>

<!--Pregunta si el paciente se elimina o no, seleccionado en lista_cliente.html-->
    <div class = "jumbotron">
        <div class = "center-text">
            <form action="{% url 'form:eliminar_pacientes' rut=rut %}" method="POST">
                {% csrf_token %}
             <h3>   Se va a Eliminar Paciente con RUT N°  = {{rut}}.
                ¿Desea confirmar la acción? </h3>
                <div class="center-text">
                    <div class="margen">
                        <input class="btn btn-danger btn-md" type="submit" value="Sí">
                        <a class="btn btn-primary btn-lg" href="{% url 'form:pacientes_creados' %}" role="button">Volver</a>
                    </div>
                </div>
            </form>  
        </div>
    </div>

</body>
{% endblock %}
